book
src/testing/.vs/ProjectSettings.json
src/testing/.vs/slnx.sqlite
src/testing/.vs/testing/v17/.suo
src/testing/.vs/VSWorkspaceState.json
src/characters/smash64/data/.vs/ProjectSettings.json
src/characters/smash64/data/.vs/slnx.sqlite
