book
src/templates/.vs/ProjectSettings.json
src/templates/.vs/slnx.sqlite
src/templates/.vs/templates/v17/.suo
src/templates/.vs/VSWorkspaceState.json
src/characters/smash64/data/.vs/ProjectSettings.json
src/characters/smash64/data/.vs/slnx.sqlite
src/characters/smash64/data/.vs/VSWorkspaceState.json
src/characters/smash64/data/.vs/data/v17/.suo
